header {
  background-image: url("../img/pattern.png");
  background-color: #67b8e0;
  background-repeat: repeat;
  height: 40px;
  padding: 50px;
}

body {
  margin: 0;
}

#not-header{
  margin-left: auto;
  width: 90%;
  align-items: center;
  justify-content: center;
}

header > img {
  height: 50px;
  margin-left: auto;
}

#title {
  margin-bottom: 0;
}

.subtitle-color {
  color: gray;
}

#author {
  color:cornflowerblue;
}

#publication-date {
  font-size:x-small;
}

.caption-font-size {
  font-size: small;
}

.spacing {
  margin-bottom: 15px;
}

#highlighted-text {
  background-color: yellow;
}

ul {
  padding: 0;
  list-style-position: inside;
}

.header-background-color {
  background-color: cornflowerblue;
  color: white;
  text-align: left;
}

.column-25 {
  width: 25%;
}

#table-header-3 {
  width: 50%;
}

.row-background {
  background-color: #c7d3ed;
}

footer {
  margin-top: 45px;
  background-color: #050952;
  color: white;
  text-align: center;
  padding: 15px;
}